<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>ListaServlet</servlet-name>
        <servlet-class>com.trabalho.ListaITSServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListaServlet</servlet-name>
        <url-pattern>/lista</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmacaoServlet</servlet-name>
        <servlet-class>com.trabalho.ConfirmacaoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfirmacaoServlet</servlet-name>
        <url-pattern>/confirmacao</url-pattern>
    </servlet-mapping>

</web-app>
