<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0">
    <servlet>
        <servlet-name>ListaServlet</servlet-name>
        <servlet-class>com.trabalho.ListaITSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaServlet</servlet-name>
        <url-pattern>/lista</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>com.trabalho.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/carrinho</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmacaoServlet</servlet-name>
        <servlet-class>com.trabalho.ConfirmacaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmacaoServlet</servlet-name>
        <url-pattern>/confirmacao</url-pattern>
    </servlet-mapping>
</web-app>